.fla filter=lfs diff=lfs merge=lfs -text
.swf filter=lfs diff=lfs merge=lfs -text
Travel[[:space:]]Environment/Travel.fla filter=lfs diff=lfs merge=lfs -text
Travel[[:space:]]Environment/Travel.swf filter=lfs diff=lfs merge=lfs -text
Release[[:space:]]Travel/Travel/Travel.swf filter=lfs diff=lfs merge=lfs -text
Travel[[:space:]]Environment/Travel.air filter=lfs diff=lfs merge=lfs -text
Travel[[:space:]]Environment/Travel.exe filter=lfs diff=lfs merge=lfs -text
